@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
$text-color: #005FA3;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;
}
.header{
    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 30px 0;
        &-close{
            padding: 7px 20px;
            border: 1px solid #fff;
            color: #fff;
            font-size: 2rem;
            float: right;
            border-radius: 5px;
            background: red;display: none;
        }
        &-toggler{
            padding: 7px 10px ;
            display: none;
            border: 1px solid;
            border-radius: 5px;
            background: transparent;
        }
        &-logo{
            display: flex;
            align-items: center;
            gap: 25px;
            color: $text-color;
            font-weight: 700;
            font-size: 2rem;
            text-decoration: none;
        }
        &-menu{
            &_contact{
                display: flex;
                gap: 50px;
                list-style: none;
                &--item:nth-child(2){
                    display: flex;
                    gap: 10px;
                    align-items: center;
                }
                a{
                    text-decoration: none;
                    color: #000;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    transition: .3s;
                    &:hover{
                        color: $text-color;
                    }
                }
            }
            &_pages{
                display: flex;
                gap: 30px;
                list-style: none;
                margin-top: 15px;
                justify-content: space-between;
                a{
                    text-decoration: none;
                    color: #000;
                    transition: .3s;
                    font-family: sans-serif;
                    text-transform: uppercase;
                    font-weight: 600;
                    &:hover{
                        color: $text-color;
                    }
                }
            }
        }
    }
}
.show{
    display: block !important;
}
@media screen and (max-width: 1100px) {
    .header__nav{
        &-toggler, &-close{

            display: block;
        }
    }
    .header__nav-menu{
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background: #222;
        padding: 50px;
        color: #fff;
        ul{
            flex-direction: column;
            align-items: center;
            &:nth-child(2){
                margin-top: 50px;
            }
        }
        a{
            color: #fff;
        }
    }
}